name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python-version:
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        - '3.11'
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Pip upgrade
      run: python -m pip install --upgrade pip
    - name: Poetry install
      run: pip install poetry
    - name: Install dependencies
      run: python -m poetry install --with dev
    - name: Run tests
      run: python -m poetry run testing
